:root {
  --white_base: #ffffff;
  --green_base: #71ab39;
  --green_primary: #f5f9f3;
  --green_second: #39ab3a;
  --blue_base: #1899cd;
  --blue_primary: #f0fafd;
  --black_base: #060201;
  --grey_primary: #646464;
  --grey_third: #a8a8a8;
  --grey_second: #e6e6e6;
  --grey_four: #e6e6e6;
  --grey_five: #c4c4c4;
  --grey_six: #f1f3f1;
  --orange_primary: #f55c09;
  --orange_second: #fffaf1;
  --red_primary: #ec4242;
  --red_second: #ffebeb;
  --pink_primary: #fcf0f8;
  --pink_second: #ca1095;
  --box-shadow-bright: 0px 0px 20px 0px rgba(110, 135, 171, 0.15);
  --button-shadow-500: 0px 61px 111px rgba(47, 50, 69, 0.15),
    0px 39.0082px 46.3731px rgba(47, 50, 69, 0.12),
    0px 23.3274px 24.7933px rgba(47, 50, 69, 0.103),
    0px 12.9302px 13.8989px rgba(47, 50, 69, 0.088);
}
