.date_picker {
  @include input;
  width: stretch;
  width: 100%;
  margin: 0 !important;
  position: relative;
  padding: 20px 15px;
  // font-size: 14px;
  // border: 1px solid $color_grey_primary;
  // transition: all 0.3s ease;
  // background-color: var(--green_primary);
  font-family: "Lato-Bold" !important;
  display: flex !important;
  align-items: center;
  line-height: 0px;
  // cursor: pointer;
  // border-radius:0;
  // outline:none;
  .date_picker_icon {
    position: absolute;
    right: 15px;
    pointer-events: none;
    svg {
      width: 20px;
      height: 20px;
      color: var(--grey_primary);
    }
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    display: inline-block;
    padding: 0;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    opacity: 0;
    &::-webkit-calendar-picker-indicator {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }

  &:has(input:focus-within) {
    box-shadow: 0px 0px 0px 0.2rem var(--green_base);
  }

  &.focus,
  &:focus {
    outline-color: none;
    appearance: none;
    -webkit-appearance: none;
  }

  &.input_error {
    background-color: var(--red_second);
  }


  &::after {
    content: attr(data-date);
    position: absolute;
    pointer-events: none;
  }
}
