/***************************************/
/*** RADIO
/***************************************/
.radio {
  appearance: none;
  -webkit-appearence: none;
  @include flexMid;
  align-items: center;
  line-height: 0px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--color-200);
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: var(--color-200);
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: all 0.2s;
  }

  &:checked::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}

/***************************************/
/*** RADIO
/***************************************/

/***************************************/
/*** SWITCH
/***************************************/

.switch {
  display: block;
  appearance: none;
  -webkit-appearance: none;
  background: #e9e9eb;
  border-radius: 20px !important;
  width: 40px !important;
  height: 20px !important;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  &::before {
    --gap: 2px;
    --size: calc(22px - 1 * (var(--gap)));
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: var(--gap);
    left: var(--gap);
    background-color: #fff;
    box-shadow: 0 0 7px rgba(168, 183, 205, 0.65);
    border-radius: 50%;
    transition: all 0.3s ease 0s;
  }

  &:checked {
    background-color: var(--green_second);
    &::before {
      left: calc(100% - var(--size) - var(--gap));
    }
  }

  &:focus {
    outline: 0 !important;
    box-shadow: none !important;
  }
}
/***************************************/
/*** SWITCH
/***************************************/

/***************************************/
/*** CHECK QUARE
/***************************************/

// .check_square {
//   display: flex !important;
//   align-items: center;
//   gap: 0 15px;
//   user-select: none;
//   -webkit-user-select: none;
//   cursor: pointer;
//   .check_box_text {
//     display: flex;
//     flex-direction: column;
//     span,
//     p {
//       color: $color_blue_opac;
//       font-size: 0.9rem;
//       font-family: "Lato-Regular";
//       display: block;
//       margin-bottom: 4px;
//       &:last-child {
//         margin-bottom: 0px;
//       }
//     }

//     span:first-child {
//       color: $color_blue;
//     }
//   }

//   .check_square_box {
//     @include flexMid;
//     align-items: center;
//     line-height: 0px;
//     width: 20px;
//     height: 20px;
//     border: 1px solid $color_purple;
//     appearance: none;
//     border-radius: 2px;
//     transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
//     svg {
//       width: 20px;
//       height: 20px;
//       color: $color_white;
//       opacity: 0;
//       transform: scale(0);
//       transition: all 0.3s;
//     }
//   }

//   input:checked ~ .check_square_box {
//     background-color: $color_purple;
//   }

//   input:checked ~ .check_square_box {
//     svg {
//       opacity: 1;
//       transform: scale(1);
//     }
//   }
// }
